/* overwrite padding-left rules from browser.css */
.context-menu div a {
  padding-left: 0 !important;
}
.context-menu {
 float: left;
}
.ctx-expander {
  display: block;
  cursor: pointer;
  padding: 0 10px;
}
.ctx-foldable {
  background: #FFF;
  display: none;
}
.context-menu > div {
  width: 200px;
  margin: 0;
  padding: 1ex;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
  white-space: nowrap !important;
}
.context-menu > div > div > a {
  display: block;
}
.context-menu > div a:hover {
  background-color: #eee !important;
}
.context-menu .separator {
  padding-top: .5ex;
  margin-bottom: .5ex;
  border-bottom: 1px inset #555;
}
#dirlist td.name > *, #repoindex td.name > * {
  float: left;
}
