div.context-menu {
  float: right;
}
div.context-menu span {
  cursor: pointer;
}
div.context-menu ul {
  width: 200px;
  margin: 0;
  padding: 1ex;
  list-style: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
}
div.context-menu li {
  margin: 0;
  padding: 0;
}
div.context-menu li a {
  display: block;
}
div.context-menu li a:hover {
  background-color: #ddd !important;
}
